<!DOCTYPE html>
<html lang="en-us">

  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
      {{ page.date | date: "%B %Y" }} &middot; {{ site.title }}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>

  <body class="theme-indigo">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">

        {% assign m = page.date | date: "%-m" %}
        {% assign mprev = page.date | date: "%-m" | minus: 1 %}
        {% assign mnext = page.date | date: "%-m" | plus: 1 %}

        {% case m %}
          {% when '1' %}
            {% assign prev = page.date | date: "%Y" | minus: 1 | append: "/12" %}
            {% assign next = page.date | date: "%Y" | append: "/02" %}
          {% when '2' or '3' or '4' or '5' or '6' or '7' or '8' %}
            {% assign prev = page.date | date: "%Y" | append: "/0" | append: mprev %}
            {% assign next = page.date | date: "%Y" | append: "/0" | append: mnext %}
          {% when '9' %}
            {% assign prev = page.date | date: "%Y" | append: "/08" %}
            {% assign next = page.date | date: "%Y" | append: "/10" %}
          {% when '10' %}
            {% assign prev = page.date | date: "%Y" | append: "/09" %}
            {% assign next = page.date | date: "%Y" | append: "/11" %}
          {% when '12' %} {% assign prev = page.date  %}
            {% assign prev = page.date | date: "%Y" | append: "/11" %}
            {% assign next = page.date | date: "%Y" | plus: 1 | append: "/01" %}
          {% else %}
            {% assign prev = page.date | date: "%Y" | append: "/" | append: mprev %}
            {% assign next = page.date | date: "%Y" | append: "/" | append: mnext %}
        {% endcase %}

        <script type="text/javascript">
          var requestOld = new XMLHttpRequest();
          requestOld.open('GET', '{{ site.baseurl }}{{ prev }}', true);
          requestOld.onreadystatechange = function(){
            if (requestOld.readyState === 4){
              if (requestOld.status === 404) {
                var prevh = document.getElementById("prevh");
                var prevf = document.getElementById("prevf");
                prevh.className = prevh.className + " disabled";
                prevf.className = prevf.className + " disabled";
              }
            }
        };
        requestOld.send();

        var requestNew = new XMLHttpRequest();
        requestNew.open('GET', '{{ site.baseurl }}{{ next }}', true);
          requestNew.onreadystatechange = function(){
            if (requestNew.readyState === 4){
              if (requestNew.status === 404) {
                var nexth = document.getElementById("nexth");
                var nextf = document.getElementById("nextf");
                nexth.className = nexth.className + " disabled";
                nextf.className = nextf.className + " disabled";
              }
            }
          };
          requestNew.send();
        </script>

        <h1 class="text-center">
            <a id="prevh" href="{{ site.baseurl }}{{ prev }}">&#8678;</a>
          {{ page.date | date: "%B Issue, %Y" }}
            <a id="nexth" href="{{ site.baseurl }}{{ next }}">&#8680;</a>
          </h1>

        <div class="posts">
          {% for post in page.posts %}
          <div><hr>
            <h2 class="post-title">
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h2>

            <span class="post-meta">{% categorylink post.category %}{{ post.category }}{% endcategorylink %}
              &middot; {{ post.post_author }}</span>

            {{ post.excerpt | truncate: 250 }}
            <a href="{{ post.url }}">Continue reading &rarr;</a><br><br>
          </div>
          {% endfor %}
        </div>

        <div class="pagination">
            <a id="prevf" class="pagination-item older" href="{{ site.baseurl }}{{ prev }}">Previous Issue</a>
            <a id="nextf" class="pagination-item newer" href="{{ site.baseurl }}{{ next }}">Next Issue</a>
        </div>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
